<%- include('../partials/header.ejs') %>

<div class="student">
    <div class="student-avatar">
        <img src="<%= studentByid.profile_picture_url %>" alt="">
    </div>
    <div class="student-description">
        <h1><%= studentByid.first_name %> <%= studentByid.last_name %></h1>
        <p>Étudiant</p>
        <p>Promo: <a href="/promos/<%= promoByid.id %>"><em><%= promoByid.name %></em></a></p>
        <p>Pseudo Github : <em><%= studentByid.github_username %></em></p>
        <nav>
            <ul>
                <li><a href="student_edit.html">Modifier la fiche de l'étudiant</a></li>
            </ul>
        </nav>
    </div>
</div>

<%- include('../partials/footer.ejs') %>